---
name: Test secret

on:
  push:
    branches:
      - main

jobs:
  build:
    env:
      key1: ${{secrets.SECRET}}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: echo SECRET
      if: ${{secrets.SECRET}} == 'test value'
